@page
@model QuestionnaireApp.Pages.Groups.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Group.Name" class="control-label"></label>
                <input asp-for="Group.Name" class="form-control" />
                <span asp-validation-for="Group.Name" class="text-danger"></span>
            </div>
            <h4>Select users for this group:</h4>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;

                                foreach (var user in Model.AssignedUserDataList)
                                {
                                    if (cnt++ % 6 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedUsers"
                                               value="@user.UserID"
                                               @(Html.Raw(user.Assigned ? "checked=\"checked\"" : "")) />
                                        @user.FirstName @:  @user.LastName @user.Email
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
